@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('fresh2.jpg');
        background-size: cover;
    }

    .full-width {
        width: 100%;
    }

    .d-flex {
        display: flex;
    }

    .justify-content-center {
        justify-content: center;
    }

    .align-items-center {
        align-items: center;
    }

    .container {
        min-height: 20vh;
        display: block;
        align-items: center;
        background-color: #FFBF00;
        opacity: 1;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div class="full-width d-flex justify-content-center and align-items-center">
    <div class="container">
        <h3>FreshMart - o poveste de succes</h3>
        <div>
            Din 2011, promisiunea noastră este de a oferi zilnic românilor produse de cea mai bună calitate la cel mai bun preţ, direct de la producători, într-o largă varietate de sortimente.
            <p>
                În calitate de companie internațională, ne asumăm responsabilitatea - nu doar pentru un rezultat
                economic bun, ci și în raport cu resursele mediului înconjurător,  în raport cu angajații,
                comunitățile în care suntem prezenți și mediul economic în care activăm.  Sustenabilitatea face,
                deci, parte din modelul nostru de business. Abordările simple și orientate spre client,
                utilizarea responsabilă a resurselor și menținerea unor relații bazate pe respect cu clienții,
                angajații și partenerii reprezintă bazele activității noastre zilnice. Aceste valori sunt consemnate în principiile companiei noastre.
                Fie că angajații noștri lucrează în sediul central,
                în centrele logistice sau în magazine, cu toții se dedică acelorași valori și motivației de a face compania FreshMart în fiecare zi tot mai bună.
                Oferim angajaților noștri șansa să își construiască propria carieră de succes. Cooperarea noastră cu angajații are la bază încrederea, corectitudinea și respectul.
                Formarea şi dezvoltarea lor este esențială pentru noi și investim resurse considerabile pentru atingerea cerințelor de performanță și creşterea competenţelor individuale pe toate planurile.
            </p>
            <p>
                <b>Clientii fideli beneficiaza de reduceri de pana la 15%</b>
            </p>
        </div>
    </div>

</div>
